[submodule "vim/bundle/closetag"]
	path = vim/bundle/closetag
	url = https://github.com/docunext/closetag.vim.git
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim/bundle/RST-Tables"]
	path = vim/bundle/RST-Tables
	url = https://github.com/vim-scripts/RST-Tables.git
[submodule "vim/bundle/zencoding"]
	path = vim/bundle/zencoding
	url = https://github.com/mattn/zencoding-vim.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = https://github.com/hecor/snipmate.vim.git
